/* stylelint-disable-next-line */
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.djhj {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;

  &-notification {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0;
    margin: 1rem;
    max-width: 540px;
    box-shadow: 0 0 0.5em rgba(0 0 0 / 30%);
    font-family: $system-font;
    font-size: initial;
    background: whitesmoke;
    color: #111;

    @media (prefers-color-scheme: dark) {
      background: #333;
      color: white;
    }
  }

  &-message,
  &-actions {
    padding: 0 0 1rem;
    width: 100%;
  }

  &-message {
    flex: 1 1 auto;
    font-family: $system-font;
    font-size: initial;

    em {
      font-weight: 500;
    }
  }

  &-actions {
    display: flex;
    flex: 0 1 auto;
    text-align: center;
    justify-content: flex-end;
  }

  &-button {
    appearance: none;
    border: none;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5em;
    cursor: pointer;
    font-family: $system-font;
    font-size: initial;

    @media (prefers-color-scheme: dark) {
      background: #333;
      color: white;
    }
  }
}
