{% load hijack %}
<html>
<body>
{% for another_user in object_list %}
  {% can_hijack_tag hijacker=request.user hijacked=another_user as can_hijack_user %}
  {% if can_hijack_user %}
    <form action="{% url 'hijack:acquire' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="user_pk" value="{{ another_user.pk }}">
      <button type="submit">hijack {{ another_user }}</button>
      <input type="hidden" name="next" value="{{ request.path }}">
    </form>
  {% endif %}
{% endfor %}
</body>
</html>
