name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  py-lint:
    strategy:
      fail-fast: false
      matrix:
        lint-command:
          - "ruff check --output-format=github ."
          - "ruff format --check ."
          - "msgcheck -n hijack/locale/*/LC_MESSAGES/*.po"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt install -y gettext
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: "pyproject.toml"
      - run: python -m pip install -e .[lint]
      - run: ${{ matrix.lint-command }}

  js-lint:
    strategy:
      fail-fast: false
      matrix:
        lint-command:
          - "npm run lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - run: ${{ matrix.lint-command }}

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt install -y gettext
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: "pyproject.toml"
      - run: python -m pip install -e .[docs]
      - run: mkdocs build --strict --verbose

  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt install -y gettext
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - uses: actions/setup-node@v4
      - name: Install Python dependencies
        run: python -m pip install --upgrade pip build wheel twine readme-renderer
      - run: python -m build --sdist --wheel
      - run: python -m twine check dist/*
      - uses: actions/upload-artifact@v4
        with:
          path: dist/*

  node-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npm test
        env:
          NODE_OPTIONS: "--experimental-vm-modules"
      - uses: codecov/codecov-action@v5
        with:
          flags: "javascript"

  pytest:
    runs-on: ubuntu-latest
    needs:
      - py-lint
      - js-lint
      - docs
      - readme
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        django-version:
          - "4.2"
          - "5.0"
          - "5.1"
        exclude:
          - django-version: "5.0"
            python-version: "3.9"
          - django-version: "5.1"
            python-version: "3.9"

    steps:
      - uses: actions/checkout@v4
      - run: sudo apt install -y gettext
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/setup-node@v4
      - run: python -m pip install -e .[test]
      - run: python -m pip install django~=${{ matrix.django-version }}.0
      - run: python -m pytest
      - uses: codecov/codecov-action@v5
        with:
          flags: "python"

  analyze:
    name: CodeQL Analyze
    needs: [pytest]
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language:
          - python
          - javascript
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          queries: +security-and-quality
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:${{ matrix.language }}"
